# we have multiple repositories for the registry
# first we try to download the npm package directly from the internet
# and if there is no access we use the nexus proxy registry - mind the authToken.
registry=https://registry.npmjs.org/
;//golem.ilntsur.loc:8080/repository/npm-group/:_authToken=YWRtaW46YWRtaW4xMjM=
//golem.ilntsur.loc:8080/repository/npm-group/

# this is a scoped registry (private npm packages for surecomp)
;@surecomp:registry=http://golem.ilntsur.loc:8080/repository/npm-surecomp/:_authToken=YWRtaW46YWRtaW4xMjM=
@surecomp:registry=http://golem.ilntsur.loc:8080/repository/npm-surecomp/

# authentication - we disabled this approach to avoid authentication for the public npm registry on the internet
;always-auth=true
;_auth=YWRtaW46YWRtaW4xMjM=

# email
email=SDL_Technology@surecomp.com
